.title{
    color: rgb(216, 230, 215);
}

.box{
    padding: 0 35px;
    color: rgb(226, 243, 225);
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    height: 42vh;
}